[submodule "Project/Equipment_Allocation"]
	path = Project/Equipment_Allocation
	url = https://github.com/srinija-kambhampaty/Equipment_Allocation.git
[submodule "Project/EventManagement"]
	path = Project/EventManagement
	url = https://github.com/srinija-kambhampaty/EventManagement.git
[submodule "Project/EventManagementConsumer"]
	path = Project/EventManagementConsumer
	url = https://github.com/srinija-kambhampaty/EventManagementAlerts_Consumer.git
